/*----------------------------------------------
14. COLUMNS GRID
------------------------------------------------
.column-section { margin-top: 60px; }
div .column-section:first-child, .spacer + .column-section { margin-top: 0px; }

.column {
    float: left;
    margin-right: 60px;
    min-height: 1px;
    }

.one-full { width: 100%; float: none; margin-right: 0; }
.one-half  { width: 510px; }
.one-third { width: 320px; }
.two-third { width: 700px; }
.one-fourth { width: 225px; }
.two-fourth { width: 510px; }
.three-fourth { width: 795px; }
.one-fifth { width: 168px; }
.two-fifth { width: 396px; }
.three-fifth { width: 624px; }
.four-fifth { width: 852px; }

.wrapper-small .one-half { width: 360px; }
.wrapper-small .one-third { width: 220px; }
.wrapper-small .two-third { width: 500px; }
.wrapper-small .one-fourth { width: 150px; }
.wrapper-small .two-fourth { width: 360px; }
.wrapper-small .three-fourth { width: 570px; }
.wrapper-small .one-fifth { width: 108px; }
.wrapper-small .two-fifth { width: 276px; }
.wrapper-small .three-fifth { width: 444px; }
.wrapper-small .four-fifth { width: 612px; }

.wrapper-mini .column { float: none; margin-right: 0px; width: 100%; }

.last-col { margin-right: 0px !important; }

*/

.column-section { margin-top: 30px; }

.minor-margin {
    margin-top: 30px;
}

.notop {
    margin-top: 0px;
    margin-bottom:10px;
}


.show-xs {
    display: none;
}
/*----------------------------------------------
1. BASICS
------------------------------------------------*/

img {
    box-sizing: border-box;
}

/* Typography
---------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0em;
    text-transform: none;
}


.objective {
    border-top: 2px solid black;
    display: inline-block;
    padding-right: 200px;
    padding-top: 20px;
}

.highlight {
    background: #e75b2e;
    font-weight: 400;
    padding: 5px;
    color: white;
}


.caption {
    font-size: 12px;
    font-weight: 400;
}

p.caption + p {
    margin-top: 0px;
    font-size: 11px;
    font-weight: 200;
    line-height: 1.5;
}

p.caption + p + p {
    font-weight: 600;
}

.sidenote {
    font-size: 13px;
    margin-top:10px;
    line-height: 20px;
}

.sidenote.quote {
    font-weight: 600;
}


ul.sidenote li {
    margin: 0px;
}

ul.sidenote li:first-child {
    margin-top: 10px;
}

.white {
    color: white !important;
}

.quote {
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
}


/*----------------------------------------------
3. GENERAL ELEMENTS
------------------------------------------------*/

/* green */
.colored {
    color: #7EB041 !important;
    }

/* grey */
.project-info .colored {
    color: #525252 !important;

}

.description {
    position: relative;
}

/*----------------------------------------------
3. HEADER
------------------------------------------------*/


/*----------------------------------------------
3. MENU/NAV
------------------------------------------------*/

nav#main-nav > ul > li:hover > a, nav#main-nav > ul > li.current-menu-item > a { color: #7EB041 !important; }

/*----------------------------------------------
7. HERO/PAGETITLE
------------------------------------------------*/
#hero.hero-full { background-size: cover; background-position: 80%; }


/*----------------------------------------------
8. PORTFOLIO
------------------------------------------------*/

/* Groov
---------------------------------------- */
/*
orange: #e75b2e
purple: #371944
magenta: #a61f64
*/


.grv-orange {
    color: #e75b2e;
}

.back-orange {
    background: #e75b2e;
    color: white;
}


/* Kickback
---------------------------------------- */
/*
green #44b86c
blue #11adb8
yellow #ffca00
black #373737
*/


.kck-green {
    color: #44b86c;
}


.fa.swatch {
    vertical-align: middle;
}

.kickback-logo {
    background-image: url(../images/kck/kickback-logo_green.png);
    width: 280px;
    height: 300px;
    background-size: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
     /* TRANSITION */
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -o-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}

/*.kickback-logo:hover {
    background-image: url(../images/kck/logo-iterations.png);

}*/


/* Frankly
---------------------------------------- */
/*
red #d81f27
green #a0a437
pink #dc157e
blue #273891
*/

.frk-pink {
   color: #dc157e;
}

.back-blue {
    background-color: #273891;
    color: white;
}


/* Aglow
---------------------------------------- */

.selected {
    border: 4px solid #7EB041;
}

.quote-container .quote {
    color: #7EB041;
}


/*----------------------------------------------
12. HORIZONTAL SECTIONS
------------------------------------------------*/
.horizontal-section .horizontal-inner {
    padding: 80px 0;
    }


.back-gray {
    background: #f7f7f7;
}



/*----------------------------------------------
15. SHORTCODES / ELEMENTS
------------------------------------------------*/

ul.bottomless li {
    margin-bottom: 20px !important;

}

.socialmedia-widget li.github a:before { content:"\f09b"; }
.socialmedia-widget li.github:hover a { color: #4078c0; }




/*----------------------------------------------
ABOUT
------------------------------------------------*/
.about-pic {
    background: url("../images/about/mon-smile.jpg");
    background-size: cover;
    background-position: 50% 50%;
    height: 400px;
}

#about .about-pic:hover {
    background: url("../images/about/monocle-bw.gif");
    background-position: 80% 50%;
    background-size: cover;
}

img.emoji {
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0px !important;
  display: inline !important;
}




/*----------------------------------------------
ANIMATIONS
------------------------------------------------*/

.swipe {
    -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
}

.swipe:hover {
-webkit-transform: translate(5em,0);
            -moz-transform: translate(5em,0);
            -o-transform: translate(5em,0);
            -ms-transform: translate(5em,0);
}

/* Groov app */

@keyframes app-switch {
  0% {
    -webkit-transform: none;
    transform: none;
    background:url('../images/grv/app/ipad_app-unlocked.png');
    background-size: cover;
  }

  50% {
    -webkit-transform: (-90deg);
    transform:rotate(-90deg);
    background:url('../images/grv/app/ipad_app-audiohome.png');
    background-size: cover;
  }
  100% {
    -webkit-transform: (0deg);
    transform: rotate(0deg);
    background:url('../images/grv/app/ipad_app-unlocked.png');
    background-size: cover;
  }
}



.app-switch {
    width: 300px;
    height: 200px;
    background:url('../images/grv/app/ipad_app-unlocked.png');
    background-size: cover;
    animation-name: app-switch;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    transition: all 1s ease-in-out;
    -webkit-animation-name: app-switch;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}


/* Music Notes */

ul.music {
    display: block;
    width: 215px;
    height: 60px;
    margin: 0 auto;
    border-top: 2px solid #e75b2e ;
    padding-top: 50px;
}
ul li.music {
    display: block;
    float: left;
    font-size: 2em;
    color:#e75b2e ;

}
.anim {
    -webkit-animation: music 1s ease-in-out both infinite;
}

@-webkit-keyframes music {
    0%,100% {
        -webkit-transform: translate3d(0,-10px,0);
    }
    50% {
        -webkit-transform: translate3d(0,10px,0);
    }
}


iframe.axure {
    width: 400px;
    height: 750px;
    overflow: hidden;
}



/* Computer Science */
section.hero-csc {
    background: linear-gradient(1deg, #cc0000, #383839);
    background-size: 400% 400% !important;

    -webkit-animation: csc-grad 5s ease infinite;
    -moz-animation: csc-grad 5s ease infinite;
    animation: csc-grad 5s ease infinite;


}

@-webkit-keyframes csc-grad {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes csc-grad {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes csc-grad {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}