/*----------------------------------------------
14. COLUMNS GRID
------------------------------------------------
.column-section { margin-top: 60px; }
div .column-section:first-child, .spacer + .column-section { margin-top: 0px; }

.column {
    float: left;
    margin-right: 60px;
    min-height: 1px;
    }

.one-full { width: 100%; float: none; margin-right: 0; }
.one-half  { width: 510px; }
.one-third { width: 320px; }
.two-third { width: 700px; }
.one-fourth { width: 225px; }
.two-fourth { width: 510px; }
.three-fourth { width: 795px; }
.one-fifth { width: 168px; }
.two-fifth { width: 396px; }
.three-fifth { width: 624px; }
.four-fifth { width: 852px; }

.wrapper-small .one-half { width: 360px; }
.wrapper-small .one-third { width: 220px; }
.wrapper-small .two-third { width: 500px; }
.wrapper-small .one-fourth { width: 150px; }
.wrapper-small .two-fourth { width: 360px; }
.wrapper-small .three-fourth { width: 570px; }
.wrapper-small .one-fifth { width: 108px; }
.wrapper-small .two-fifth { width: 276px; }
.wrapper-small .three-fifth { width: 444px; }
.wrapper-small .four-fifth { width: 612px; }

.wrapper-mini .column { float: none; margin-right: 0px; width: 100%; }

.last-col { margin-right: 0px !important; }

*/

.minor-margin {
    margin-top: 30px;
}

.notop {
    margin-top: 0px;
}

/*----------------------------------------------
1. BASICS
------------------------------------------------*/


/* Paragraphs
---------------------------------------- */
.highlight {
    background: #e75b2e;
    font-weight: 400;
    padding: 5px;
    color: white;
}


.caption {
    font-weight: 400;
}

p.caption + p {
    margin-top: 0px;
    font-size: 11px;
    font-weight: 200px;
}

.sidenote {
    font-size: 13px;
}
/*----------------------------------------------
3. HEADER
------------------------------------------------*/


/*----------------------------------------------
8. PORTFOLIO
------------------------------------------------*/

/* Groov
---------------------------------------- */
/*  orange: #e75b2e   */
/*  purple: #371944   */
/*  magenta: #a61f64   */


.grv-orange {
    color: #e75b2e;
}

.back-orange {
    background: #e75b2e;
    color: white;
}



/*----------------------------------------------
12. HORIZONTAL SECTIONS
------------------------------------------------*/
.horizontal-section .horizontal-inner {
    padding: 80px 0;
    }


.back-gray {
    background: #f7f7f7;
}





/*----------------------------------------------
ANIMATIONS
------------------------------------------------*/

.swipe {
    -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
}

.swipe:hover {
-webkit-transform: translate(5em,0);
            -moz-transform: translate(5em,0);
            -o-transform: translate(5em,0);
            -ms-transform: translate(5em,0);
}

@keyframes app-switch {
  0% {
    -webkit-transform: none;
    transform: none;
    background:url('../images/grv/app/ipad_app-unlocked.png');
    background-size: cover;
  }

  50% {
    -webkit-transform: (-90deg);
    transform:rotate(-90deg);
    background:url('../images/grv/app/ipad_app-audiohome.png');
    background-size: cover;
  }
  100% {
    -webkit-transform: (0deg);
    transform: rotate(0deg);
    background:url('../images/grv/app/ipad_app-unlocked.png');
    background-size: cover;
  }
}



.app-switch {
    width: 300px;
    height: 200px;
    background:url('../images/grv/app/ipad_app-unlocked.png');
    background-size: cover;
    animation-name: app-switch;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    transition: all 1s ease-in-out;
    -webkit-animation-name: app-switch;
    -webkit-animation-iteration-count: infinite;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}


/* Music Notes */
ul li.music {
    display: block;
    float: left;
    font-size: 1em;
    color: #e75b2e ;

}
.anim {
    -webkit-animation: music 1s ease-in-out both infinite;
}

@-webkit-keyframes music {
    0%,100% {
        -webkit-transform: translate3d(0,-10px,0);
    }
    50% {
        -webkit-transform: translate3d(0,10px,0);
    }
}
